#nav {
    background-color: cadetblue;
    font-size: 80%;
}

body {
    font-family:  Helvetica, sans-serif;

}

table.dataTable {
   border: 1px solid black;
}

table.dataTable td,
table.dataTable th {
    border: 1px dotted gray;
    padding-left: 2em; 
    padding-right: 2em;
}

#foot {
    background-color: #efefef;
    color:#666;
}





