<DOCTYPE! html>
<html lang="en">
<head>
    <title>Steve-base</title>
    
    <!-- simplify a bit by using the CDN versions of Bootstrap, jQuery, and AngularJS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- Now, my local files -->
    <link rel="stylesheet" href="css/site.css">
    <script src="js/app.js"></script>
</head>

<body ng-app="userApp">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="#">My Database of Steves</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" style="min-height:80%" ng-controller="UserController as userCtl">
    <div class="row" style="height:100%">
        <div id="userList" class="col-sm-3">
            <div class="user" ng-repeat="user in userCtl.list" id="user{{user.id}}">        
                  <a ng-click="userCtl.showUserDetails(user.id)">{{user.firstName}} {{user.lastName}}</a>
            </div>
            <div class="user" id="createButtonDiv">
                <button ng-click="userCtl.showUserForm('create')" class="btn btn-default">Add a Steve</button>
            </div>
        </div> <!-- end userList -->
        
        <div id="userContent" class="details col-sm-8" ng-show="userCtl.currentUser">
            
            <!-- #userDetails and the #userForm could have been designed as 
                 separate elements. Indeed early iterations worked that way. 
                 However, keeping the same label styling is useful, and
                 this design uses `ng-show` and `ng-hide` attributes instead,
                 which ends up being much easier. 
                
                 With `ng-show`, when the value of the attribute it true, the
                 element is shown, otherwise it's hidden. `ng-hide` works similarly.
            -->
        <div id="userDetails" ng-hide="empty(userCtl.currentUser)">
            <form class="form-horizontal" ng-submit="userCtl.handleFormSubmit()">
                <input type="hidden" id="inpId" name="id" ng-model="userCtl.currentUser.id">
              <div class="form-group">
                <label for="inpFirstName" class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inpFirstName" name="firstName" ng-model="userCtl.currentUser.firstName" ng-show="userCtl.showForm">
                  <p class="form-control-static" ng-hide="userCtl.showForm">{{ userCtl.currentUser.firstName }}</p>
                </div>
              </div>
              <div class="form-group">
                <label for="inpLastName" class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inpLastName" name="lastName" ng-model="userCtl.currentUser.lastName" ng-show="userCtl.showForm">
                  <p class="form-control-static" ng-hide="userCtl.showForm">{{ userCtl.currentUser.lastName }}</p>
                </div>
              </div>
              <div class="form-group">
                <label for="inpEmail" class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inpEmail" name="email" ng-model="userCtl.currentUser.email" ng-show="userCtl.showForm">
                  <p class="form-control-static" ng-hide="userCtl.showForm">{{ userCtl.currentUser.email }}</p>
                </div>
              </div>
              <div class="form-group">
                <label for="inpDescription" class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="inpDescription" name="description" ng-model="userCtl.currentUser.description" ng-show="userCtl.showForm"></textarea>
                  <p class="form-control-static" ng-hide="userCtl.showForm">{{ userCtl.currentUser.description }}</p>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-submit btn-primary" ng-show="userCtl.showForm">{{userCtl.buttonText}}</button>
                </div>
              </div>
            </form>
            
            <!-- Make a link look like a button, with the "btn" class: -->
            <a ng-click="userCtl.showUserForm('update')" class="pull-right btn btn-primary" ng-hide="userCtl.showForm">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>
        </div>
        
        </div> <!-- end .details -->
    </div> <!-- end .row -->
</div>
</body>
</html>