/* Undo some Bootstrap stuff */
.navbar {
    border-radius:0;
}

body {
    background-color: #900;
    color:white;
}

#userList {
    padding: 8px;
}
#userContent {
    z-index: 1;
    padding: 1em 2em;
    background-color:white;
    color: #333;
    border-radius: 20px;
}
.user {
    padding:6px;
    padding-right:30px;
    min-height: 16px;
    border:4px solid transparent; /* add the spacing so that when we add the arrow, it doesn't "hop" */
    
}
.user a {
    color: white;
}

.activeUser {
    background-color:white;
    color: #900;
}
.activeUser a {
    color: #900;
}

/* Borrowing liberally from http://www.cssarrowplease.com
to create fancy arrow for this box */
#userList {
    position:relative;
}
.activeUser {
	position: relative;
	background: #ffffff;
	border: 4px solid #f58989;
}

.activeUser:after, .activeUser:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.activeUser:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 18px;
	margin-top: -18px;
}
.activeUser:before {
	border-color: rgba(245, 137, 137, 0);
	border-left-color: #f58989;
	border-width: 24px;
	margin-top: -24px;
}